#iconoPerfil {
  width: 100px; /* Tamaño ajustable */
  height: 100px;
  border-radius: 50%; /* Lo hace circular */
  object-fit: cover; /* Asegura que la imagen no se deforme */
}


@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}