<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Favicon del sombrero Monopoly -->
    <link rel="icon" type="image" href="../../assets/img/sombrero.png"/>
    <link rel="stylesheet" href="styles/modal-comprarPropiedad.css" />
    <link rel="stylesheet" href="styles/modal-casahotel.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"  crossorigin="anonymous"/>
    <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"  crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row my-5">
        <div class="col">
          <button  class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#modalComprarPropiedad">Propiedad disponible</button>
          <button  class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#modalCasaHotel">Casa Hotel</button>
        </div>
      </div>
    </div>
    <!-- Modal Bootstrap Comprar Propiedad -->
    <div  class="modal fade"  id="modalComprarPropiedad"  tabindex="-1"  aria-labelledby="modalPropiedadLabel"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" id="modalPropiedadHeader">
            <h5 class="modal-title titulo-modal">Comprar Propiedad</h5>
            <button  type="button"  class="btn-close"  data-bs-dismiss="modal"  aria-label="Cerrar"></button>
          </div>

          <div class="modal-body" id="modalComprarPropiedadBody">
            <!-- Aquí se inyecta la info con JS (jugador.js) -->
          </div>

          <div class="modal-footer">
            <div class="contenedor-botones">
              <button type="button" class="boton-cancelar" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="boton-comprar" id="btnComprarPropiedad">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Bootstrap Comprar Casa/Hotel -->
    <div  class="modal fade"  id="modalCasaHotel"  tabindex="-1"  aria-labelledby="modalCasaHotelLabel"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" id="modalCasaHotelHeader">
            <h5 class="modal-title titulo-modal" id="modalCasaHotelLabel">Grupo de propiedades</h5>
            <button  type="button"  class="btn-close"  data-bs-dismiss="modal"  aria-label="Cerrar"></button>
          </div>

          <div class="modal-body" id="modalCasaHotelBody">
            <!-- Aquí se inyecta la info con JS -->
          </div>

          <div class="modal-footer">
            <button  type="button"  class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>    <script src="./script/Jugador.js"></script>
  </body>
</html>