<!-- Modal para jugador -->
<div
  class="modal fade"
  id="modalJugador"
  tabindex="-1"
  aria-labelledby="modalJugadorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalJugadorLabel">
          Información del Jugador
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="modalJugadorBody">
        <!-- Aquí se llenará dinámicamente con JS -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para jugador -->
<div
  class="modal fade"
  id="modalJugador"
  tabindex="-1"
  aria-labelledby="modalJugadorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalJugadorLabel">
          Información del Jugador
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="modalJugadorBody">
        <!-- Aquí se llenará dinámicamente con JS -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS (con Popper incluido) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module">
  import Jugador from "../models/Jugador.js";
  const j1 = new Jugador("PlayerOne", "Colombia", "red");

  // Llamar al modal de ese jugador
  document.getElementById("btnVerJugador").addEventListener("click", () => {
    console.log(j1);
    j1.mostrarTarjetaCasaHotel();
  });
</script>
